<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>gymunity-server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ExerciseServiceServlet</servlet-name>
		<servlet-class>exercise.controller.action.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExerciseServiceServlet</servlet-name>
		<url-pattern>/exercises/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExerciseCategoryServiceServlet</servlet-name>
		<servlet-class>exerciseCategory.controller.action.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExerciseCategoryServiceServlet</servlet-name>
		<url-pattern>/exerciseCategories/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FriendServiceServlet</servlet-name>
		<servlet-class>friend.controller.action.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FriendServiceServlet</servlet-name>
		<url-pattern>/friends/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DiaryServiceServlet</servlet-name>
		<servlet-class>diary.controller.DiaryServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiaryServiceServlet</servlet-name>
		<url-pattern>/diary</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>joinFormAction</servlet-name>
		<servlet-class>user.controller.action.JoinFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>joinFormAction</servlet-name>
		<url-pattern>/joinFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>leaveAction</servlet-name>
		<servlet-class>user.controller.action.LeaveAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>leaveAction</servlet-name>
		<url-pattern>/leaveAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginAction</servlet-name>
		<servlet-class>user.controller.action.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginAction</servlet-name>
		<url-pattern>/loginAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutAction</servlet-name>
		<servlet-class>user.controller.action.LogoutAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutAction</servlet-name>
		<url-pattern>/logoutAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>testAction</servlet-name>
		<servlet-class>user.controller.action.TestAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testAction</servlet-name>
		<url-pattern>/testAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateAction</servlet-name>
		<servlet-class>user.controller.action.UpdateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateAction</servlet-name>
		<url-pattern>/updateAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userCreateAction</servlet-name>
		<servlet-class>user.controller.action.UserCreateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userCreateAction</servlet-name>
		<url-pattern>/userCreateAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Action</servlet-name>
		<servlet-class>user.controller.Action</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Action</servlet-name>
		<url-pattern>/Action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActionFactory</servlet-name>
		<servlet-class>user.controller.ActionFactory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionFactory</servlet-name>
		<url-pattern>/ActionFactory</url-pattern>
	</servlet-mapping>

<!--	<servlet>-->
<!--		<servlet-name>Action</servlet-name>-->
<!--		<servlet-class>user.controller.Action</servlet-class>-->
<!--	</servlet>-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>Action</servlet-name>-->
<!--		<url-pattern>/Action</url-pattern>-->
<!--	</servlet-mapping>-->

<!--	<servlet>-->
<!--		<servlet-name>ActionFactory</servlet-name>-->
<!--		<servlet-class>user.controller.ActionFactory</servlet-class>-->
<!--	</servlet>-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>ActionFactory</servlet-name>-->
<!--		<url-pattern>/ActionFactory</url-pattern>-->
<!--	</servlet-mapping>-->
	
	<servlet>
		<servlet-name>UserServiceServlet</servlet-name>
		<servlet-class>user.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceServlet</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>error</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>feed.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/feed/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedCommentAction</servlet-name>
		<servlet-class>feed.controller.FeedCommentAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedCommentAction</servlet-name>
		<url-pattern>/feed/*/comments</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedReadAction</servlet-name>
		<servlet-class>feed.controller.FeedReadAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedReadAction</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedUpdateAction</servlet-name>
		<servlet-class>feed.controller.FeedUpdateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedUpdateAction</servlet-name>
		<url-pattern>/feed/*/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedDeleteAction</servlet-name>
		<servlet-class>feed.controller.FeedDeleteAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedDeleteAction</servlet-name>
		<url-pattern>/feed/*/delete</url-pattern>
		<url-pattern>/feed</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedCommentCreateAction</servlet-name>
		<servlet-class>feed.controller.FeedCommentCreateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedCommentCreateAction</servlet-name>
		<url-pattern>/feed/*/comments/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedCommentUpdateAction</servlet-name>
		<servlet-class>feed.controller.FeedCommentUpdateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedCommentUpdateAction</servlet-name>
		<url-pattern>/feed/*/comments/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedCommentDeleteAction</servlet-name>
		<servlet-class>feed.controller.FeedCommentDeleteAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedCommentDeleteAction</servlet-name>
		<url-pattern>/feed/*/comments/delete</url-pattern>
	</servlet-mapping>


	<error-page>
		<location>/error</location>
	</error-page>

	<servlet>
		<servlet-name>FoodCategoryServiceServlet</servlet-name>
		<servlet-class>foodCategory.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodCategoryServiceServlet</servlet-name>
		<url-pattern>/foodCategory/service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FoodServiceServlet</servlet-name>
		<servlet-class>foods.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServiceServlet</servlet-name>
		<url-pattern>/food/service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DietServiceServlet</servlet-name>
		<servlet-class>diet.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DietServiceServlet</servlet-name>
		<url-pattern>/diet/service</url-pattern>
	</servlet-mapping
	>
	<servlet>
		<servlet-name>RoutineServiceServlet</servlet-name>
		<servlet-class>routine.controller.RoutineServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoutineServiceServlet</servlet-name>
		<url-pattern>/routine</url-pattern>
	</servlet-mapping>

</web-app>