<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>gymunity-server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>UserServiceServlet</servlet-name>
		<servlet-class>user.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceServlet</servlet-name>
		<url-pattern>/user/service</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DiaryFormAction</servlet-name>
		<servlet-class>diary.controller.DiaryFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiaryFormAction</servlet-name>
		<url-pattern>/diary</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>error</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedCreateAction</servlet-name>
		<servlet-class>feed.controller.FeedCreateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedCreateAction</servlet-name>
		<url-pattern>/feed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedDetailAction</servlet-name>
		<servlet-class>feed.controller.FeedDetailAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedDetailAction</servlet-name>
		<url-pattern>/feed/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedCommentAction</servlet-name>
		<servlet-class>feed.controller.FeedCommentAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedCommentAction</servlet-name>
		<url-pattern>/feed/*/comments</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedReadAction</servlet-name>
		<servlet-class>feed.controller.FeedReadAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedReadAction</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedUpdateAction</servlet-name>
		<servlet-class>feed.controller.FeedUpdateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedUpdateAction</servlet-name>
		<url-pattern>/feed/*/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedDeleteAction</servlet-name>
		<servlet-class>feed.controller.FeedDeleteAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedDeleteAction</servlet-name>
		<url-pattern>/feed/*/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedCommentCreateAction</servlet-name>
		<servlet-class>feed.controller.FeedCommentCreateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedCommentCreateAction</servlet-name>
		<url-pattern>/feed/*/comments/create</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedCommentUpdateAction</servlet-name>
		<servlet-class>feed.controller.FeedCommentUpdateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedCommentUpdateAction</servlet-name>
		<url-pattern>/feed/*/comments/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedCommentDeleteAction</servlet-name>
		<servlet-class>feed.controller.FeedCommentDeleteAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedCommentDeleteAction</servlet-name>
		<url-pattern>/feed/*/comments/delete</url-pattern>
	</servlet-mapping>
	
	
	<error-page>
		<location>/error</location>
	</error-page>

	<servlet>
		<servlet-name>diet</servlet-name>
		<jsp-file>/views/diet/diet.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>diet</servlet-name>
		<url-pattern>/diet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FoodList</servlet-name>
		<servlet-class>foods.controller.FoodList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodList</servlet-name>
		<url-pattern>/diet/foods</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateFood</servlet-name>
		<servlet-class>foods.controller.CreateFood</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateFood</servlet-name>
		<url-pattern>/diet/foods/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateFood</servlet-name>
		<servlet-class>foods.controller.UpdateFood</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateFood</servlet-name>
		<url-pattern>/diet/foods/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteFood</servlet-name>
		<servlet-class>foods.controller.DeleteFood</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFood</servlet-name>
		<url-pattern>/diet/foods/delete</url-pattern>
	</servlet-mapping>

</web-app>